{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Welcome to the Home Page</h1>
    <form action="{% url "img_handle" %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
    <div class="row">
        {% for imge in images %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="{{ imge.image.url }}" class="card-img-top rounded" alt="Image">
                <div class="card-body">
                    <p class="card-text text-center">noting is better than you darling</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}


